<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
	<title></title>
</head>

<body id="theBody" class="loadedBody" onload="parent.showPage()">
<!--#if expr="\"$HTTP_USER_AGENT\" != /.*MSIE.*/ && \"$HTTP_USER_AGENT\" != /.*Gecko.*/" -->
<span class=winTxt>
<!--#endif -->

<div class="header">The Gladiators!</div>

<br>

&nbsp;Thank you for visiting the U4EA web site. Please let me take a moment to introduce myself and explain
some things about me and my web site. The U4EA web site is my online digital portfolio. A place where I can
show off my graphic designs, interface designs, javascript and DHTML programming skills. If you are interested
in state of the art graphic designs or DHTML special effects, you've come to the right place. I take pride in my
work and designing web site interfaces is my true calling in life. Here at the U4EA web site, you will see
"special effect's" or state of the art graphic designs that you just won't see at other web sites. I've 
worked hard desiging my web site and I think you will enjoy it. If you like, I also created the Personal
Window interface where web surfers can learn more about me as a person. You can learn more than you ever
wanted to know about me. I discuss things like my education, web design experience, hobbies, sports and so
forth! Check it out, who knows, maybe we have something in common? :) Thank you for stopping by and have fun!

<br><br>

<div class=divider><a href="../../personalwin/index.html">Click Here To View The Personal Window!</a></div>

<br>
&nbsp;Thanks again! -u4ea- :)
<br>
<br>
<!--#if expr="\"$HTTP_USER_AGENT\" != /.*MSIE.*/ && \"$HTTP_USER_AGENT\" != /.*Gecko.*/" -->
</span>
<!--#endif -->
</body>
</html>