<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
	<title></title>
</head>

<body id="theBody" class="loadedBody" onload="parent.showPage()">
<!--#if expr="\"$HTTP_USER_AGENT\" != /.*MSIE.*/ && \"$HTTP_USER_AGENT\" != /.*Gecko.*/" -->
<span class=winTxt>
<!--#endif -->

<div class=header>King Ramsys!</div>
<br>
<table width=100% border=0 cellpadding=0 cellspacing=0>
<tr>
<td width=90%>&nbsp;For those of you who don’t know, <em>interface design</em> is simply the implementation of menus or computer
graphics to design navigational aids to help end users navigate more easily and to aid them in finding
more easily the resources or content they are looking for.</td>
<td valign=top><img
class="photoborder" src="wings/content/winfx/tubeslider.jpg" width=200 height=175 border=0 alt="U4EA: The Creative Portfolio! (The Interfaces Main Page)" vspace=3 hspace=3></a>
</td>

</tr>
</table>
<br>
&nbsp;On the Internet, interface design is extremely common. Most web sites you see have buttons you
can click on to help you navigate through the vast array of content and help you quickly find what your
looking for. 

<br><br>

&nbsp;Gone are the days when computer graphics and Internet web sites were boring. Web site templates
used to be generic and usually the graphics were extremely simple. You would have been lucky to see
buttons change colors if you moved your mouse over them. Today due to the increase in bandwidth and
the furtherance of technologies such as JavaScript and DHTML web sites have come alive with graphic
animations, music and moving images. As a consequence the Internet has become a much more exciting
place to explore. 

<br><br>

&nbsp;Here at the U4EA web site I’ll explore these new technologies and share with you the processes
used to create them. Please feel free to examine the interfaces I have designed below. Although I only
have a few interfaces, I expect to have more as time permits in the near future. 

<br><br>

<div class="divider"><a href="../../personalwin/index.html" class="barLinks" onMouseOver="window.status='U4EA: copperWin Version 2.0: A Personal Look At U4EA!'; return true">copperWin Version 1.0: A Personal Up Close Look At U4EA!!!&nbsp;-&nbsp;128kb</a></div>

<br>
&nbsp;The Personal Win was created so I could share with web surfers things that are important to me. 
Everything from my education to hobbies and sports activities, this is a fun interface solely about me!
Go ahead and have a look, and tell me what you think! Who knows, mayby we have something in common? :)

<br><br>

<!-- New Item -->
<div class="divider"><a href="../../interfaces/egyptianScroll/index.html" class="barLinks" onMouseOver="window.status='U4EA: The Egyptian Scroll!!'; return true">The Egyptian Scroll Slider!!&nbsp;-&nbsp;116kb</a></div>

<br>

&nbsp;This is my latest in the sliding scroll navagational gadgets. The code is so fun and there's so many
things you can do with it I had to do another. This one takes advantage of the web browsers ability to make image
object elements transparent. I modified the code and created a second slider to slide just under the main
slider. The new sliders opacity was manually adjusted to give it transparency and presto, a neat little
highlighting slider. The cut/torn edges were easy to do using Photoshops displacement filter. I'm proud of this
one! Go ahead and check it out! :)

<br><br>

<!-- New Item -->
<div class="divider"><a href="../../interfaces/ExtraTerrestrial/index.html" class="barLinks" onMouseOver="window.status='U4EA: Extra Terrestrials!'; return true">Extra Terrestrials&nbsp;-&nbsp;156kb</a></div>

<br>

&nbsp;The Extra Terrestrial interface was really quite easy to design. The neat colors are accomplished
by filling the selections with a colorful gradient such as spectrum then subtracting 1 pixel, before deleting
from that selection. The interesting slider was something that came to me by luck. I like the way it leaves
a tracer as it rolls over the other colors. The idea was to keep it as colorful as possible, and I think I
succeded there. I used a background frame to make sure the backdrops were even, and by using this method, I only
had to use the square gradient once. Most of the windows retained their color in gif mode, and averaged in size of about 25k.

<br><br>

<!-- New Item -->
<div class="divider"><a href="../../interfaces/tubeSlider/index.html" class="barLinks" onMouseOver="window.status='U4EA: Tube Slider v2.0!'; return true">Tube Slider v2.0&nbsp;-&nbsp;171kb</a></div>
<br>
The Tube Slider is version 2.0 of the slider code series. It's an improved version of the tube mask itself and this time
I actually use a slider gadget as my navagational method. The slider effect is created by using layers to evenly place the
image objects. The very bottom layer is ofcourse the yellow slider backdrop rectangle. The next two layers are the sliders
slide and rip, there are to of them, both the same image but on different layers. Then finally the text objects and then main image.
I decided to go with a full window screen knowing that the file sizes would be much bigger but the trade off being a more satisfying
graphics experience for the end user.  

<br><br>

<div class="divider"><a href="u4ea@swbell.com" class="barLinks" onMouseOver="window.status='Email Me!'; return true">Email u4ea...</a></div>

<br>

If you have any questions or you would just like to chat you can email at (u4ea@swbell.com).. Thanks u4ea...

<br><br>

<div class="divider">My interfaces are updated periodically so check in more than once!</div>

<br><br>

<!--#if expr="\"$HTTP_USER_AGENT\" != /.*MSIE.*/ && \"$HTTP_USER_AGENT\" != /.*Gecko.*/" -->
</span>
<!--#endif -->
</body>
</html>