<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
	<title></title>
</head>

<body id="theBody" class="loadedBody" onload="parent.showPage()">
<!--#if expr="\"$HTTP_USER_AGENT\" != /.*MSIE.*/ && \"$HTTP_USER_AGENT\" != /.*Gecko.*/" -->
<span class=yellowType>
<!--#endif -->

<div class=header>King Tutankaman!</div>
<br>
<table width=100% border=0 cellpadding=0 cellspacing=0>
<tr>
<td width=50%>
&nbsp;King Tutankauman the Boy King. Never was such a king in Egypt.
</td>
<td align=left valign=top><img
src="wings/content/winfx/funzone.jpg" width=150 height=150 border=0 alt="King Tut As A Young Boy!" vspace=4 hspace=4></td>
</tr>
</table>

<br>

<div class="divider"><a href="" class="barLinks" onMouseOver="window.status='King Tut: A Large Photograph!'; return true">Click Here To See A Large Photograph Of Tut!</a></div>
<br>
<br>
<!--#if expr="\"$HTTP_USER_AGENT\" != /.*MSIE.*/ && \"$HTTP_USER_AGENT\" != /.*Gecko.*/" -->
</span>
<!--#endif -->
</body>
</html>