<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
	<title></title>
</head>

<body id="theBody" class="loadedBody" onload="parent.showPage()">
<!--#if expr="\"$HTTP_USER_AGENT\" != /.*MSIE.*/ && \"$HTTP_USER_AGENT\" != /.*Gecko.*/" -->
<span class=winTxt>
<!--#endif -->
<div class="header">Queen Nefertiti!</div>
<br>
<table width=100% border=0 cellpadding=0 cellspacing=0>
<tr>
<td width=85%>
&nbsp;The <i>Queen Nefertiti</i> area is my assorted collection of computer generated art. The collection is
small but interesting enough. The images in this area were either created using Photoshop or 3D Studio.
All of the work you will see here was part of a learning experience and I do not consider them by any
means professional works. I think beginner is the more appropriate adjective to describe them. :) 
</td>
<td align=left><a
class="plain" href="../../digitalimages/textures.html" onMouseOver="window.status='U4EA: The Textures 3D Studio Image!!'; return true"><img
src="wings/content/winfx/digitalimages.jpg" width=175 height=175 border=0 alt="The Textures 3D Studio Image!" vspace=3 hspace=3></a></td>
</tr>
</table>
<br>
<b class=divider></b>
<br>
None the less I’ve decided to compile this area for you to see them and I hope you will find them
interesting. Again the collection is small because honestly most of my earlier work is hardly worth
looking at. Accompanying each image I'll give a small yet detailed description of the overall theme
and I'll detail some of the processes used to create the effects. Again thank you for taking the time
to view my work and visit my web site.

<br><br>

Have fun and be cool, your amigo&nbsp; -U4EA-&nbsp;  :)

<br>
<br>

<div class="divider"><a
href="../../digitalimages/textures.html" target="_top" class="barLinks"
onMouseOver="window.status='U4EA: The Textures Image!'; return true">Film Textures</a></div>
<br>
&nbsp;This image was created both with 3D Studio 4 and Adobe Photoshop.  It is interesting in how the
textures to create the rolls of film were created. Basically 3D Studio's powerful image mapping
capabilities did all the work from a single image. First I selected an image or a texture whatever you
prefer to call it, the green dye in the water is a good example and simply edited it in Photoshop to give
it the single negative look by applying a single grey line at the bottom of the image. Once done, I finally
applied simple mapping coordinates to the end of the thin 3D Studio objects and instantly I had rolls of
film. 3D Studio is an incredible program!

<br>
<br>

<div class="divider"><a href="../../digitalimages/office.html" target="_top" class="barLinks"
onMouseOver="window.status='U4EA: My Dream Office!'; return true">My Dream Office</a></div>
<br>
&nbsp;The office rendering was actually my first attempt at using 3D Studio. Most of the objects were
downloaded from a BBS that had a collection of Autocad and 3D Studio objects. The pictures on the
walls are photographs of a vacation I took to southern California and Tijuana Mexico with my girlfriend. 
I had the photo's developed on CD so I could see them on my computer. At the time, having your
photographs developed on to CD was state of the art technology, that was the early 90's. :> If you look on
the computer screen you see a screen grab of the rendering after it was applied as my windows background
image. If your wondering about the Shaw and Moore Associates banner on the front of the desk, a good friend
of mine helped work with me to create the image and also learn how to use 3D Studio also. 

<br>
<br>

<div class="divider"><a
href="../../digitalimages/sphere.html" target="_top" class="barLinks"
onMouseOver="window.status='U4EA: The Sphere'; return true">The Sphere</a></div>
<br>
&nbsp;The Sphere image is just another image of "film rolls" that were created using the same techniques
I used to create the Textures image. Really nothing special here, the rolls of film look cool but the
sphere itself is trash. There's actually two sphere's one that's hidden behind the first just enough so
that you can see the edges that glow around it.

<br>
<br>

<div class="divider"><a
href="../../digitalimages/sphereMelter.html" target="_top" class="barLinks"
onMouseOver="window.status='U4EA: The sphereMelter'; return true">The sphereMelter</a></div>
<br>
&nbsp;The sphereMelter was created using 3D Studio. What's suprising here is as kewl as the image looks
it was really extremely easy to create. The image is actually a single frame of a 1000 frame animation.
To create the animation I jumped to frame 1000 and rotated the fan back several dozen times, then when
you play the animation the fan moves perfectly. I used the same technique to create the morphing ball. I
moved to frame 1000 and pulled back portions of the sphere. Once you play the animation the sphere slowly
starts to melt or blow away. 3D Studio has a wealth of tools to make these process so much easier and
simpler to do. The walls are just simple blocks with a brick texture applied/mapped to them. The objects
that hold the sphere were extremely easy to create using 3D Studio's lofter. All I had to do was create a
basic 2D shape then loft it just a little bit. 

<br>
<br>

<div class="divider"><a
href="../../digitalimages/painting.html" target="_top" class="barLinks"
onMouseOver="window.status='U4EA: Contemporary Painting'; return true">Contemporary Painting</a></div>
<br>
&nbsp;This image was sort of a spur of the moment deal. I saw a really beautiful modern painting in a
magazine and I wondered if I could create something like it using Photoshop instead of oil on canvas.
What I came up with is what you'll see here. This is the kind of art I like to decorate my house with! :)

<br>
<br>

<div class="divider"><a
href="../../digitalimages/razor.html" target="_top" class="barLinks"
onMouseOver="window.status='U4EA: The RaZoR Badge!'; return true">Razor Sharp Badge</a></div>
<br>
&nbsp;I named this the badge because it resembles a badge of some sort. What was unique about this image
is how the neat shapes and selections were created. An experienced Photoshop user will notice that on
some of the objects the corners are smooth in one area and pointed sharp in others. In order to achieve
these types of selections or neat shapes you have to master the techniques used to collapse the midtones
and how to cut/delete and re-attach shapes. It's easy with a little practice. :) I'm still working on
this one...

<br>
<br>

<div class="divider"><a
href="../../digitalimages/myworld.html" class="barLinks"
onMouseOver="window.status='U4EA: My World!'; return true">My World</a></div>
<br>
&nbsp;This is a simple logo that can easily be converted into a photo album interface by assinging full
color photo's to the pictures. The pictures are photos I took of my co-workers at Goodwill Industries.
<br>
<br>
<div class="divider">A man's pride will bring him low, but the humble in spirit will retain honor!
Proverbs Chapter 29, Verse 23! Cya u4ea :></div>
<br>
<br>
<!--#if expr="\"$HTTP_USER_AGENT\" != /.*MSIE.*/ && \"$HTTP_USER_AGENT\" != /.*Gecko.*/" -->
</span>
<!--#endif -->
</body>
</html>