<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
	<title></title>
</head>

<body id="theBody" class="loadedBody" onload="parent.showPage()">
<!--#if expr="\"$HTTP_USER_AGENT\" != /.*MSIE.*/ && \"$HTTP_USER_AGENT\" != /.*Gecko.*/" -->
<span class=winTxt>
<!--#endif -->
<div class="header">Nero The Warrior!</div>
<br>
<table width=100% border=0 cellpadding=0 cellspacing=0>
<tr>
<td width=50% align=middle>
<img class="photoborder" src="wings/content/winFX/megran.jpg" width=169 height=178 border=0 alt="The Personal Window!" vspace=3 hspace=3> 
</td>
<td align=left width 100%>&nbsp;Thank you for visiting the U4EA web site. Please let me take a moment to introduce myself and explain
some things about me and my web site. The U4EA web site is my online digital portfolio. A place where I can
show off my graphic designs, interface designs, javascript and DHTML programming skills. If you are interested
in state of the art graphic designs or DHTML special effects, you've come to the right place. 
</tr>
</table>

<br><br>
&nbsp;I take pride in my work and designing web site interfaces is my true calling in life. Here at the U4EA web site, you will see
"special effect's" or state of the art graphic designs that you just won't see at other web sites. I've 
worked hard desiging my web site and I think you will enjoy it. 

<br><br>

<b class=divider>Be good, &nbsp; -u4ea-</b>

<br>

<!--#if expr="\"$HTTP_USER_AGENT\" != /.*MSIE.*/ && \"$HTTP_USER_AGENT\" != /.*Gecko.*/" -->
</span>
<!--#endif -->
</body>
</html>
