<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Untitled Document</title>
</head>

<body id="theBody" class="loadedBody" onload="parent.showPage()">

<div class="windowbar">What Is U4EA?</div>

<div class="facecontent">
  <div style="width:225px;float:left;margin-left:5px;"><img class="photoborder" src="../images/window/me.jpg" width="225" height="245" border="0" alt="The Personal Window!" /></div>
  <div style="width:280px;float:left;margin-left:15px;margin-top:-10px;">
    <p>Thank you for visiting the U4EA web site. Please let me take a moment to introduce myself and explain some things about me and my web site. The U4EA web site is my online digital portfolio. A place where I can show off my graphic designs, interface designs, javascript and DHTML programming skills. If you are interested in state of the art graphic designs or DHTML special effects, you've come to the right place. I take pride in my work and designing web site interfaces is my true calling in life. Here at the U4EA web site, you will see "special effect's" or state of the art graphic designs that you just won't see at other web sites. I've worked hard desiging my web site and I think you will enjoy it.</p>
    <p>Tom Shaw</p>
  </div>
  <div style="clear:both;"></div>
</div>

</body>
</html>