<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Untitled Document</title>
</head>

<body id="theBody" class="loadedBody" onload="parent.showPage()">

<div class="windowbar">The Fun Zone!</div>

<div class="facecontent">
  <div style="width:190px;float:left;margin-left:10px;"><img class="blackborder" src="../images/window/fzone.jpg" width="183" height="173" border="0" alt="The Personal Window!" /></div>
  <div style="width:300px;float:left;margin-left:10px;margin-top:-10px;">
    <p>Thank you for visiting the U4EA web site. Please let me take a moment to introduce myself and explain some things about me and my web site. The U4EA web site is my online digital portfolio. A place where I can show off my graphic designs, interface designs, javascript and DHTML programming skills. If you are interested in state of the art graphic designs or DHTML special effects, you've come to the right place. I take pride in my work and designing web site interfaces is my true calling in life.</p>
    <p>Tom Shaw</p>
  </div>
  <div style="clear:both;"></div>
</div>

</body>
</html>