<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Untitled Document</title>
</head>

<body id="theBody" class="loadedBody" onload="parent.showPage()">

<div class="windowbar">Interface Designs</div>

<div class="facecontent">

  <p>Thank you for visiting the U4EA web site. Please let me take a moment to introduce myself and explain some things about me and my web site. The U4EA web site is my online digital portfolio. A place where I can show off my graphic designs, interface designs, javascript and DHTML programming skills. If you are interested in state of the art graphic designs or DHTML special effects, you've come to the right place. I take pride in my work and designing web site interfaces is my true calling in life.</p>

  <div class="windowbar" style="margin-bottom:10px;">The Egyptian Slider</div>  
  
  <div style="text-align:center;"><img class="photoborder" src="../images/window/egyptian.jpg" width="400" height="252" border="0" alt="The Egyptian Slider" /></div>
  
  <div style="text-align:center;">
    <p>Thank you for visiting the U4EA web site. Please let me take a moment to introduce myself and explain some things about me and my web site. The U4EA web site is my online digital portfolio. A place where I can show off my graphic designs, interface designs, javascript and DHTML programming skills. If you are interested in state of the art graphic designs or DHTML special effects, you've come to the right place. I take pride in my work and designing web site interfaces is my true calling in life.</p>
  </div>
  
  <div class="windowbar" style="margin-bottom:10px;">The Tube Slider</div>  
  
  <div style="text-align:center;"><img class="photoborder" src="../images/window/tubeslider.jpg" width="400" height="350" border="0" alt="The Tube Slider" /></div>
  
  <div style="text-align:center;">
    <p>Thank you for visiting the U4EA web site. Please let me take a moment to introduce myself and explain some things about me and my web site. The U4EA web site is my online digital portfolio. A place where I can show off my graphic designs, interface designs, javascript and DHTML programming skills. If you are interested in state of the art graphic designs or DHTML special effects, you've come to the right place. I take pride in my work and designing web site interfaces is my true calling in life.</p>
  </div>

</div>

</body>
</html>