<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Untitled Document</title>
</head>

<body id="theBody" class="loadedBody" onload="parent.showPage()">

<div class="windowbar">Interface Design</div>

<div class="facecontent">

<p>Use this page to adjust all of the control variables of the Win U4EA interface You can change the behavior of the Win U4EA interface by adjusting the below variables. Once you make a change, set the cookie, then grab it to verify your changes. If you want to change everything back to normal click the Reset To Defaults, then set and grab the cookie again to verify your changes.</p>

<div class="windowbar"><a href="javascript:top.resetDefaults()" class="barLinks">RESET EVERYTHING TO DEFAULTS</a></div>

<h2>Align Window On What Side?</h2>

<div class="windowbar"><a class="barLinks" href="javascript:top.setVariable('Zjustify',0);setLeftGoals();">Always Align The Page On The Left</a></div>

<div class="windowbar"><a class="barLinks" href="javascript:top.setVariable('Zjustify',1);setLeftGoals();">Always Align The Page On The Right</a></div>

<h2>Turn Debug Mode On?</h2>

<div class="windowbar"><a class="barLinks" href="javascript:top.setVariable('debug',1)">Turn debug Mode On</a></div>

<div class="windowbar"><a class="barLinks" href="javascript:top.setVariable('debug',0)">Turn debug Mode Off</a></div>

<h2>How Fast The Window To Reloads, Switch Sides And The Scroll Bar Scrolls.</h2>

<div class="windowbar"><a class="barLinks" href="javascript:top.setNewInterval(1)">1 Second - Everything Is Real Fast</a></div>

<div class="windowbar"><a class="barLinks" href="javascript:top.setNewInterval(5)">5 Seconds</a></div>

<div class="windowbar"><a class="barLinks" href="javascript:top.setNewInterval(10)">10 Seconds</a></div>

<div class="windowbar"><a class="barLinks" href="javascript:top.setNewInterval(20)">20 Seconds</a></div>

<div class="windowbar"><a class="barLinks" href="javascript:top.setNewInterval(30)">30 Seconds</a></div>

<div class="windowbar"><a class="barLinks" href="javascript:top.setNewInterval(40)">40 Seconds</a></div>

<div class="windowbar"><a class="barLinks" href="javascript:top.setNewInterval(50)">50 Seconds</a></div>

<div class="windowbar"><a class="barLinks" href="javascript:top.setNewInterval(100)">100 Seconds</a></div>

<div class="windowbar"><a class="barLinks" href="javascript:top.setNewInterval(200)">200 Seconds</a></div>

<div class="windowbar"><a class="barLinks" href="javascript:top.setNewInterval(300)">300 Seconds</a></div>

<div class="windowbar"><a class="barLinks" href="javascript:top.setNewInterval(400)">400 Seconds</a></div>

<div class="windowbar"><a class="barLinks" href="javascript:top.setNewInterval(500)">500 Seconds</a></div>

<div class="windowbar"><a class="barLinks" href="javascript:top.setNewInterval(600)">600 Seconds</a></div>

<div class="windowbar"><a class="barLinks" href="javascript:top.setNewInterval(700)">700 Seconds</a></div>

<div class="windowbar"><a class="barLinks" href="javascript:top.setNewInterval(800)">800 Seconds  - Everything Is Real Slow</a></div>

<h2>How Long The Window Stays Open</h2>

<div class="windowbar"><a class="barLinks" href="javascript:top.setVariable('sleepTime',30000);top.setVariable('noSleep',0)">Leave The Window Open For 30 Seconds</a></div>

<div class="windowbar"><a class="barLinks" href="javascript:top.setVariable('sleepTime',60000);top.setVariable('noSleep',0)">Leave The Window Open For 60 Seconds</a></div>

<div class="windowbar"><a class="barLinks" href="javascript:top.setVariable('sleepTime',120000);top.setVariable('noSleep',0)">Leave The Window Open For 2 Minutes</a></div>

<div class="windowbar"><a class="barLinks" href="javascript:top.setVariable('sleepTime',300000);top.setVariable('noSleep',0)">Leave The Window Open For 5 Minutes</a></div>

<div class="windowbar"><a class="barLinks" href="javascript:top.setVariable('sleepTime',600000);top.setVariable('noSleep',0)">Leave The Window Open For 10 Minutes</a></div>

<div class="windowbar"><a class="barLinks" href="javascript:top.setVariable('sleepTime',900000);top.setVariable('noSleep',0)">Leave The Window Open For 15 Minutes</a></div>

<div class="windowbar"><a class="barLinks" href="javascript:top.setVariable('sleepTime',1200000);top.setVariable('noSleep',0)">Leave The Window Open For 20 Minutes</a></div>

<div class="windowbar"><a class="barLinks" href="javascript:top.setVariable('sleepTime',1800000);top.setVariable('noSleep',0)">Leave The Window Open For 30 Minutes</a></div>

<div class="windowbar"><a class="barLinks" href="javascript:top.setVariable('noSleep',1)">Never Leave The Window Open</a></div>

<h2>How Long The Window To Stays Saved?</h2>

<div class="windowbar"><a class="barLinks" href="javascript:top.setVariable('saveWindow',2)">Save The Window For 2 Minutes</a></div>

<div class="windowbar"><a class="barLinks" href="javascript:top.setVariable('saveWindow',5)">Save The Window For 5 Minutes</a></div>

<div class="windowbar"><a class="barLinks" href="javascript:top.setVariable('saveWindow',15)">Save The Window For 15 Minutes</a></div>

<div class="windowbar"><a class="barLinks" href="javascript:top.setVariable('saveWindow',30)">Save The Window For 30 Minutes</a></div>

<div class="windowbar"><a class="barLinks" href="javascript:top.setVariable('saveWindow',60)">Save The Window For 1hr</a></div>

<div class="windowbar"><a class="barLinks" href="javascript:top.setVariable('saveWindow',120)">Save The Window For 2hrs</a></div>

<div class="windowbar"><a class="barLinks" href="javascript:top.setVariable('saveWindow',1440)">Save The Window For 24hrs</a></div>

<div class="windowbar"><a class="barLinks" href="javascript:top.setVariable('saveWindow',0)">Never Save The Window</a></div>

<p>The Cookie Saves All Your Preferences. Getting the cookie allows you to read your setup. Killing the cookie resets everything. Sometimes you have to kill the cookie if the reset to defaults is stubborn.</p>

<div class="windowbar"><a class="barLinks" href="javascript:top.setCookie()">Set The Cookie And Save Your Settings</a></div>

<div class="windowbar"><a class="barLinks" href="javascript:alert(unescape(document.cookie))">Click Here To Read The Cookie</a></div>

<div class="windowbar"><a class="barLinks" href="javascript:top.killCookie()">Kill The Cookie And Start Over Again</a></div>

</div>

</body>
</html>
