<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Refresh" content="40; URL=/index.html">
<meta content="progid:DXImageTransform.Microsoft.Pixelate(MaxSquare=15, Duration=.5)" http-equiv="Page-Enter">
<meta content="progid:DXImageTransform.Microsoft.Pixelate(MaxSquare=15, Duration=.5)" http-equiv="Page-Exit">
<title></title>
<style type="text/css">
body {
	background-color: #000;
}
</style>
</head>
<body>

<div>
  <p><a href="/" title="Click to go back."><img src="melter.jpg" border="0"></a></p>
</div>

</body>
</html>